---
---
<header class="site-nav" id="siteNav">
  <a class="brand" href="#top">
    <span class="brand-mark" aria-hidden="true">✦</span>
    <span class="brand-name">Kimberly Dumaine</span>
  </a>
  <nav aria-label="Primary">
    <ul class="nav-list">
      <li><a href="#top" class="nav-link active">Home</a></li>
      <li><a href="#about" class="nav-link">About Kim</a></li>
      <li class="has-sub">
        <a href="#offerings" class="nav-link">Consultations <span class="caret" aria-hidden="true">▾</span></a>
        <ul class="sub-menu">
          <li><a href="#">Life Assessment Sessions</a></li>
          <li><a href="#">Trance Session with Dr.&nbsp;Peebles</a></li>
          <li><a href="#">Spiritual Counseling</a></li>
          <li><a href="#">Career &amp; Business Counseling</a></li>
          <li><a href="#">House &amp; Property Blessing / Energy Cleansing</a></li>
          <li><a href="#">Animal Communication</a></li>
          <li class="sub-cta"><a href="#">Request a Private Session</a></li>
        </ul>
      </li>
      <li class="has-sub">
        <a href="#peebles" class="nav-link">Spirit Communication <span class="caret" aria-hidden="true">▾</span></a>
        <ul class="sub-menu">
          <li><a href="#">About Dr.&nbsp;Peebles</a></li>
          <li><a href="#">Channeling Dr.&nbsp;Peebles</a></li>
          <li><a href="#">Philosophy of Living</a></li>
          <li><a href="#">Trance Channeling Sessions</a></li>
          <li><a href="#">Audio Recordings</a></li>
          <li class="sub-cta"><a href="#">Request a Private Session</a></li>
        </ul>
      </li>
      <li><a href="#" class="nav-link">FAQs</a></li>
      <li><a href="#events" class="nav-link">Calendar</a></li>
    </ul>
  </nav>
  <a href="#" class="nav-session-btn">Request a Session</a>
  <button class="nav-toggle" id="navToggle" aria-label="Open menu" aria-expanded="false">
    <span></span><span></span><span></span>
  </button>
</header>
